<div class="modal-content">
    <div class="add-avatar" id="add-avatar">
        {{{message}}}
        <form class="reg-form" id="add-avatar-form">
            <div class="form-input" >
                <h2>Выберите изображение</h2>
                {{#if avatar }} {{{ avatar }}} {{/if}}
                {{#if addAvatar_attr }} {{{ addAvatar_attr }}} {{/if}}
                {{#if closeAvatarForm_attr }} {{{ closeAvatarForm_attr }}} {{/if}}
            </div>
        </form>
    </div>
</div>

 
