<div class="modal-content">
    <div class="add-avatar" id="add-avatar">
        <form class="reg-form" id="add-avatar-form">
            <div class="form-input" >
                <h2>Выберите изображение</h2>
                {{#if avatar }} {{{ avatar }}} {{/if}}
                {{#if addavatar }} {{{ addavatar }}} {{/if}}
                {{#if closeavatarform }} {{{ closeavatarform }}} {{/if}}
            </div>
        </form>
    </div>
</div>
