<div class="modal-content">
    <div class="create-chat" id="add-avatar">
        <form class="reg-form" id="create-chat-form">
            <div class="form-input" >
                <h2>Создание чата</h2>
                {{#if chatName }} {{{ chatName }}} {{/if}}
                {{#if createChat }} {{{ createChat }}} {{/if}}
                {{#if closeCreateChatForm }} {{{ closeCreateChatForm }}} {{/if}}
            </div>
        </form>
    </div>
</div>


