<div class="modal-content">
    <div class="create-chat" id="add-avatar">
        <form class="reg-form" id="create-chat-form">
            <div class="form-input" >
                <h2>Создание чата</h2>
                {{#if chatName_attr }} {{{ chatName_attr }}} {{/if}}
                {{#if createChat_attr }} {{{ createChat_attr }}} {{/if}}
                {{#if closeCreateChatForm_attr }} {{{ closeCreateChatForm_attr }}} {{/if}}
            </div>
        </form>
    </div>
</div>


