<nav>
    <ul>
        <li id="li_add-foto-video">
            <img class="chat-menu-icon" alt="Add" src="img/media.svg"></img>
            {{#if addfotovideo }} {{{ addfotovideo }}} {{/if}}
        </li>
        <li id="li_add-file">
            <img class="chat-menu-icon" alt="Add" src="img/file.svg"></img> 
            {{#if addfile }} {{{ addfile }}} {{/if}}
        </li>
        <li id="li_add-location">
            <img class="chat-menu-icon" alt="Add" src="img/location.svg"></img>
            {{#if addlocation }} {{{ addlocation }}} {{/if}}
        </li>
    </ul>
</nav>
