<<<<<<< HEAD
$blue: #3369F3;
$white: #FFFFFF;
$box-sh-color :  rgba(0, 0, 0, 0.14);
$dark-grey: #999999;
$red: #FF2F2F;
$box-sh-color-dark: rgba(0,0,0,0.8); 
$light-gray: #888;


=======
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
<<<<<<< HEAD
    -webkit-box-pasck: justify;
=======
    -webkit-box-pack: justify;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* главный блок */
#root {
<<<<<<< HEAD
    background-color: $white;
=======
    background-color: #FFFFFF;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    width: 100%;
    height: 100%;
    display: flex;
}

/* //форма регистрации */
.registration_form {
    width: 340px;
    height: 615px;
<<<<<<< HEAD
    background: $white;
    box-shadow: 0px 0px 6px $box-sh-color;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin: 50px auto;
    
};   

// Общие
.button-button {
    background-color: $blue;
    border-radius: 5px;
    border-style: none;
    width: 180px;
    height: 35px;
    color: $white;
}

.link-button {
    background-color: $white;
=======
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    text-align: center;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    margin: 0 auto;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    > p {
        font-style: #3369F3;
        font-size: 25px;
        font-weight: bold;
    }
        
};   

/* //форма регистрации */
.reg-form-label {
    color: #999999;
    margin-top: 5px;
    font-size: 15px;
    line-height: 9px;
}


/* //общие */
.reg-form-input{
    > input {
        background-color: transparent;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        padding: 5px;
    }
}

.button-reg-form {
    margin-top: 5px;
    padding-top: 5px;

}

.button-button {
    background-color: #3369F3;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    border-radius: 5px;
    border-style: none;
    width: 180px;
    height: 30px;
<<<<<<< HEAD
    font-style: $white;
    color: $blue;
}

.reg-error {
    color: $red;
=======
    color: #FFFFFF;
}

.link-button {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    width: 180px;
    height: 30px;
    font-style: #FFFFFF;
    color: #3369F3;
}

.reg-error {
    color: #FF2F2F;;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    font-weight: bold;
}

.circle {
    display: flex;
    color:#C6D8E0;
    width: 25px;
    height: 25px;
    font-size: large;
    font-style: bold;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: $blue;
=======
    background-color: #3369F3;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    justify-content: center;
    align-items: center;
}

.triangle {
    border: 9px solid transparent;
<<<<<<< HEAD
    border-left: 20px solid $blue;
=======
    border-left: 20px solid #3369F3;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
}


.mini-circle {
    width: 10px;
    height: 10px;
    margin: 3px;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: $blue;
=======
    background-color: #3369F3;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    justify-content: center;
    align-items: center;
}


li {
    list-style-type: none;
}


<<<<<<< HEAD
// формы ввода
.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > input {
        background-color: transparent;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        padding: 5px;
        margin-top: 5px;
    }
    > label {
        color: black;
        margin-top: 10px;
        font-size: 15px;
        line-height: 9px;
        margin-left: 0;
    }
    > button {
        align-items: center;
        margin-top: 10px;
        padding-top: 3px;
    }
}


=======
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
/* //главное окно */
.chat-window {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.chat-sidebar {
    max-width: 450px;
    width: 350px;
    height: auto;
    float: left;
    min-height: 550px;
   
}

.chat-sidebar-header{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    > button {
        height: 20px;
        width: 80px;
    }
    #button-profile {
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.search {
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    > button {
        height: 20px;
        width: 60px;
    }
}

.chat-sidebar-items {
    height: 100%;
    padding: 0.5rem 0.125rem 0.5rem 0.4375rem;
    overflow-y: auto;
}

.chat-item {
    position: relative;
    border: 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    min-height: 75px;
<<<<<<< HEAD
    box-shadow: 0px 0px 6px$box-sh-color;
=======
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    .chat-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-top: 3;
        margin-left: 3;
        background: #EFEFEF;
        > img {
            position: absolute;
            top: 24px;
            left: 24px;
        }
    }
    .chat-name {
        position: absolute;
        width: 100px;
        height: 13px;
        top: 10px;
        left: 65px;
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 15px;
    }
    .chat-unread-message-count {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .chat-last-message-time {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .chat-last-message {
        position: absolute;
        bottom: 10px;
        right: 40px;
        text-overflow: ellipsis;
    }
    
}

.dialog-window {
<<<<<<< HEAD
    box-shadow: 0px 0px 6px$box-sh-color;
=======
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    display: inline-block;
    border: 1px;
    border-radius: 10px;
    margin: 5px;
    min-width: 950px;
    width: 100%;
    height: 100%;
    
}

.dialog {
    display: flex;
    background-color: #E3EDFD;
    padding: 5px;
    margin: 5px;
    height: 88%; 
    border-radius: 10px; 
}

.dialog-header {
    position: relative;
    padding: 5px;
    margin: 5px;
    height: 5%;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.dialog-footer {
    display: relative;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: #EFEFEF;;
    height: 3%;
    .button-button {
        height: 22px;
        width: 85px;
        margin-left: 10px;
    }
    .circle {
        border: 0ch;
        margin-right: 10px;
    }
}

.chat-input-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    > input {
        width: 85%;
        height: 35px;
        border-style: none;
        border-radius: 10px;
        input:focus {
<<<<<<< HEAD
            border-color: $blue;
=======
            border-color: #3369F3;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
            height: 45px;
            width: 650px;
        }
    }
}

/* //страница профиля */
.profile-main {
    width: 100%;
    height: 100%;
}   

.profile-form {
    display: flex;
    align-items: center;
    padding: 0 1rem;
<<<<<<< HEAD
    flex-direction: columns;
=======
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
}
    
.profile-sidebar {
    display: flex;
    margin-right: 1rem;
    width: 75px;
    min-height: 900px;
    border-radius: 15px;
<<<<<<< HEAD
    box-shadow: 0px 0px 6px$box-sh-color;
    background-color: $blue;
    justify-content: center;
    align-items: center;
    .profile-exit {
        color:$white;
        background-color: $blue;    
=======
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    background-color: #3369F3;
    justify-content: center;
    align-items: center;
    .profile-exit {
        color:#FFFFFF;
        background-color: #3369F3;    
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
        border-style: none;
        
    }

} 

.profile-subform {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 540px;
    height: 750px;
    margin-left: 30%;
<<<<<<< HEAD
    background: $white;
    box-shadow: 0px 0px 6px $box-sh-color;
}


=======
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}

>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
.profile-avatar {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    > img {
        height: 200px;
        width:  200px;
        border-radius: 50%;
    }
}

<<<<<<< HEAD
=======
.profile-input{
    > input {
        background-color: transparent;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        padding: 5px;
    }
    > label {
        color: #999999;
        margin-top: 5px;
        font-size: 15px;
        line-height: 9px;
    }
}

.profile-buttons {
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
}

>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3

/* //Модальное окно */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
<<<<<<< HEAD
    background-color: $box-sh-color-dark;; 
    
  }
  
/* Модальное содержание/коробка */
.modal-content {
=======
    background-color: rgba(0,0,0,0.8); 
    
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    display: flex;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 40px;
<<<<<<< HEAD
    border: 1px solid $light-gray;;
=======
    border: 1px solid #888;
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    width: 40%; 
    height: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
<<<<<<< HEAD
}
  
  
=======
    
  }
  
  
  .change-password-form {
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    > p {
        font-style: bold;
    }
  }
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3

//гамбургер меню добавления файлов
.menu-add-files {
    position: absolute;
    bottom: 5%;
    left: 365px;
<<<<<<< HEAD
    background-color: $white;
    box-shadow: 0px 0px 6px $box-sh-color;
=======
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    border-radius: 10px;
    display: flex;
    animation: opacity 0.4s;
    > img {
        width: 15px;
        height: 15px;
    }   
}

//добавление и удаление пользователей
.chat-menu {
    position: absolute;
    top: 25%;
    right: 10px;
    min-width: 15px;
    min-height: 50px;
    list-style-type: none;
    > img {
        width: 15px;
        height: 15px;
    }
}

.chat-menu-list {
    position: absolute;
    top: 6%;
    right: 2%;
    min-width: 15px;
    min-height: 50px;
    background-color: #fff;
<<<<<<< HEAD
    box-shadow: 0px 0px 6px $box-sh-color;
=======
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
>>>>>>> 937e20b4e149e3021e97e3bc064aef2dea681fa3
    border-radius: 10px;
    display: flex;
    animation: opacity 0.4s;
}
