<nav>
    <ul>
        <li id="li_add-user">
            <img class="chat-menu-icon" alt="Add" src="img/add.svg"></img>
            {{#if adduser }} {{{ adduser }}} {{/if}}
        </li>
        <li id="li_delete-user">
            <img class="chat-menu-icon" alt="Del" src="img/delete.svg"></img>
            {{#if deluser}} {{{ deluser }}} {{/if}}
        </li>
    </ul>
</nav>;