<button {{#if buttonClass}} class="{{{buttonClass}}}" {{/if}}
        {{#if type}} type="{{{type}}}" {{/if}}
        {{#if elem_id}} id="{{{elem_id}}}" {{/if}}
    >
    {{#if labelVisible}} {{{labelVisible}}} {{/if}}
</button>

