<div class="modal-content">
    <div class="add-file" id="add-user">
        <form class="reg-form" id="add-user-form">
            <div class="form-input" >
                <h2>Выберите пользователя</h2>
                {{#if adduser }} {{{ adduser }}} {{/if}}
                {{#if adduserbutton }} {{{ adduserbutton }}} {{/if}}
                {{#if closeadduser }} {{{ closeadduser }}} {{/if}}
            </div>
        </form>
    </div>
</div>
