<div class="modal-content">
    <div class="add-file" id="del-user">
        <form class="reg-form" id="del-user-form">
            <div class="form-input" >
                <h2>Выберите пользователя</h2>
                {{#if deluser }} {{{ deluser }}} {{/if}}
                {{#if deluserbutton }} {{{ deluserbutton }}} {{/if}}
                {{#if closedeluser }} {{{ closedeluser }}} {{/if}}
            </div>
        </form>
    </div>
</div>


