<div class="modal-content">
    <div class="add-file" id="add-file">
        <form class="reg-form" id="add-file-form">
            <div class="form-input" >
                <h2>Выберите файл</h2>
                {{#if file_attr }} {{{ file_attr }}} {{/if}}
                {{#if addfile_attr }} {{{ addfile_attr }}} {{/if}}
                {{#if closefile_attr }} {{{ closefile_attr }}} {{/if}}
            </div>
        </form>
    </div>
</div>


