<div class="modal-content">
    <div class="add-fotovideo" id="add-fotovideo">
        <form class="reg-form" id="add-fotovideo-form">
            <div class="form-input" >
                <h2>Выберите изображение</h2>
                {{#if fotovideo }} {{{ fotovideo }}} {{/if}}
                {{#if addfotovideo }} {{{ addfotovideo }}} {{/if}}
                {{#if closefotovideo }} {{{ closefotovideo }}} {{/if}}
            </div>
        </form>
    </div>
</div>
