<div class="modal-content">
    <div class="add-file" id="add-file">
        <form class="reg-form" id="add-file-form">
            <div class="form-input" >
                <h2>Выберите файл</h2>
                {{#if file }} {{{ file }}} {{/if}}
                {{#if addfile }} {{{ addfile }}} {{/if}}
                {{#if closefile }} {{{ closefile }}} {{/if}}
            </div>
        </form>
    </div>
</div>
