<div class="modal-content">
    <div class="add-fotovideo" id="add-fotovideo">
        <form class="reg-form" id="add-fotovideo-form">
            <div class="form-input" >
                <h2>Выберите изображение</h2>
                {{#if fotovideo_attr }} {{{ fotovideo_attr }}} {{/if}}
                {{#if addfotovideo_attr }} {{{ addfotovideo_attr }}} {{/if}}
                {{#if closefotovideo_attr }} {{{ closefotovideo_attr }}} {{/if}}
            </div>
        </form>
    </div>
</div>

