<div class="modal-content">
    <div class="add-avatar" id="add-location">
        <form class="reg-form" id="add-location-form">
            <div class="form-input" >
                <h2>Выберите местоположение</h2>
                {{#if location }} {{{ location }}} {{/if}}
                {{#if addlocation }} {{{ addlocation }}} {{/if}}
                {{#if closelocation }} {{{ closelocation }}} {{/if}}
            </div>
        </form>
    </div>
</div>
