<div class="modal-content">
    <div class="add-avatar" id="add-location">
        <form class="reg-form" id="add-location-form">
            <div class="form-input" >
                <h2>Выберите местоположение</h2>
                {{#if location_attr }} {{{ location_attr }}} {{/if}}
                {{#if addlocation_attr }} {{{ addlocation_attr }}} {{/if}}
                {{#if closelocation_attr }} {{{ closelocation_attr }}} {{/if}}
            </div>
        </form>
    </div>
</div>
